Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import pandas as pd

film_data = pd.read_csv('ml-latest-small/ratings.csv')

def classify_film(data):
    if int(data) <= 2:
        return 'Низкий'
    if (int(data) > 2) & (int(data) <= 4):
        return 'Средний'
    return 'Высокий'

film_data['class'] = film_data['rating'].apply(classify_film)
film_data.head()

   userId  movieId  rating  timestamp    class
0       1        1     4.0  964982703  Средний
1       1        3     4.0  964981247  Средний
2       1        6     4.0  964982224  Средний
3       1       47     5.0  964983815  Высокий
4       1       50     5.0  964982931  Высокий

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [17]:
keywords = pd.read_csv('ml-latest-small/keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

def define_geo(data):
    for item in geo_data.items():
        for i in item[1]:
            if i in data.lower():
                return item[0]
        
    return 'undefined'
        
keywords['region'] = keywords['keyword'].apply(define_geo)
keywords[keywords['region'] != 'undefined'].head()

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [38]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
years = range(1950, 2011)

def production_year(data):
    for year in years:
         if str(year) in data:
            return year
    return '1900'
    
full_movie = pd.merge(ratings, movies, on = 'movieId')
full_movie['year'] = full_movie['title'].apply(production_year)
full_movie.groupby('year').mean().sort_values('rating', ascending = False)['rating']

year
1957    4.039535
1954    4.009191
1962    3.969466
1952    3.953125
1972    3.944293
1964    3.940160
1974    3.935622
1967    3.922572
1975    3.879121
1958    3.842424
1971    3.841463
1966    3.823684
1950    3.813665
1968    3.812212
1977    3.810406
1951    3.804945
1959    3.794239
1981    3.760732
1976    3.760047
1973    3.757764
1970    3.754098
1965    3.735043
1980    3.733581
1960    3.721116
1955    3.719780
1961    3.700000
1969    3.682648
1956    3.682609
1979    3.676845
1953    3.647059
          ...
2010    3.569096
2009    3.568966
1991    3.552265
1900    3.538228
1984    3.529493
2008    3.528126
2007    3.522433
1982    3.510921
2004    3.507227
1994    3.500944
2006    3.499033
1999    3.498677
1987    3.488312
2001    3.482125
1989    3.463061
2003    3.462321
1986    3.460152
1978    3.455102
1993    3.452152
1995    3.443848
1985    3.434115
1990    3.427310
1998    3.427186
1988    3.419032
2002    3.414584
2000    3.398922
2005    3.359976
1992    3.353555
1997    3.347241
1996    3.335329
Name: rating, Length: 62, dtype: float64